body {
  font-family: 'Open-sans',sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
}

img {
  width: 100%;
}
/*common classes*/
.primary-text {
  color: rgb(47, 136, 196);
}
.primary-background {
  background: rgb(47, 136, 196);
}
/*HEADER*/
#main-header {
  border-bottom: 1px solid rgb(47, 136, 196);
}
/*NAVBAR*/
#navbar {
  text-transform: uppercase;
}
#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}
#navbar a {
  text-decoration: none;
  color: #888 ;
}
#navbar li.current a, #navbar a:hover {
  color: rgb(47, 136, 196);
  border-bottom: 3px solid rgb(47, 136, 196);
  padding-bottom: 3px;
}
/*SHOWCASE*/
  #showcase {
    background: url('../IMG/showcase.jpg') no-repeat center center ;
    border-bottom: 1px solid rgb(47, 136, 196);
    margin-bottom: 30px;
  }
  #showcase .row {
    height: 600px;
  }
  #showcase h1 {
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
  }
  #showcase p {
    color: #ccc;
    margin: 0;
  }
  #showcase .showcase-content {
    background: #333;
    color: #fff;
    border-radius: 50px;
    padding: 30px;
    opacity: 0.9;
  }
/*FEATURES*/
#features h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#features p {
  color: #888;
  margin: 0;
  margin-bottom: 40px;
}

#features .fa {
  font-size: 60px;
  color: rgb(47, 136, 196);
}

/*INFO*/
#info {
  background: #333 url('../IMG/info-bg.jpg') no-repeat;
  color: #fff;
}
#info h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}
#info ul {
  list-style: none;
  padding: 0;
}
#info li{
  line-height: 2em;
  font-size: 20px;
}
/*COMPANY*/
#company {
  background: #333;
  color: #fff;
  padding: 10px 0;
}
#company h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}
#company ul {
  padding: 0;
  list-style: none;
  line-height: 2em;
}
/*FOOTER*/
#main-footer {
  background: rgb(47, 136, 196);
  color: white;
}
/*PAGE*/
#page {
  margin-bottom: 40px;
}
/*CONTACT*/
/**/
/*MEDIA QUERIES*/
@media(max-width: 800px){
  #showcase h1 {
    font-size: 30px ;
  }
}
@media(max-width: 500px){
  #showcase .showcase-content {
    padding: 40px 10px;
  }
}
